nb-card {
    border: 0px;
    border-radius: 18px;
    overflow: hidden;
}

nb-card-body {
    padding: 0;
    width: 996px;
    min-width: 996px;
    height: 600px;
    min-height: 600px;
    display: grid;
    grid-template-columns: 450px auto;
}

.datos{
    padding-left: 10px;
    margin-left: 10px;
}

img{
    float: right;
    width: 540px;
    height: 600px;
}

p strong {
    color:dodgerblue;
}

.features{
    //display: inline-block;
    padding-bottom: 15px;
    //padding-top: 10px;
}

/*button{
    background-color: dodgerblue;
    color: white;
    border-radius: 15px;
    border: none;
    padding: 10px 24px;
    margin: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px
}*/

.botones{
    float: right;
}