<nb-card>
    <nb-card-body>
        <nb-card-body>
            <div class = "datos">
                <h3>{{ petData.nombre }}</h3>
                <p>Es un <strong> {{petData.raza}}, </strong>
                         <strong> {{ petData.genero }} </strong>
                        de edad <strong> {{ petData.edad }} </strong>
                        y de color <strong> {{ petData.color }}, </strong>
                        registrado el <strong> {{petData.f_registro}} </strong>
                </p>
                
                <div class='features'>Afectuoso:  <span *ngFor="let i of auxFeature['afecto']"><nb-icon icon="star" status="info"></nb-icon></span></div>
                <div class='features'>Agresivo:   <span *ngFor="let i of auxFeature['agresivo']"><nb-icon icon="star" status="info"></nb-icon></span></div>
                <div class='features'>Amigable:   <span *ngFor="let i of auxFeature['amigable']"><nb-icon icon="star" status="info"></nb-icon></span></div>
                <div class='features'>Energético: <span *ngFor="let i of auxFeature['energia']"><nb-icon icon="star" status="info"></nb-icon></span></div>
                <div class='features'>Juguetón:   <span *ngFor="let i of auxFeature['jugueton']"><nb-icon icon="star" status="info"></nb-icon></span></div>
                
                <h4>Contacto: </h4>
                <p class="usuarioDatos">
                    {{userData.nombre}} {{userData.apellidos}} <br><br>
                    Correo:<a href="mailto:{{userData.correo}}"> {{userData.correo}}</a> <br><br>
                    Teléfono: {{userData.telefono}}
                </p>
                
                <div class="botones">
                    <button nbButton ghost status="info" (click)="Modificar()">
                        <nb-icon icon="refresh" [options]="{ animation: { type: 'zoom' } }">
                        </nb-icon>
                    </button>
                    <!-- Boton para elliminar-->
                    <button nbButton ghost status="danger" (click)="Eliminar()">
                        <nb-icon icon="trash-2" [options]="{ animation: { type: 'zoom' } }">
                        </nb-icon>
                    </button>
                </div>  
            </div>
            <div id='img'>
                <img src="{{petData.foto}}">
            </div>
        </nb-card-body>
    </nb-card-body>
</nb-card>
  