
nb-card-header {
    padding: 0px;
    border-width: 0px;
    overflow: hidden;
    height: 8%;
    text-align: center;
    margin-bottom: 0%;
}
nb-card{
    width: 70%;
    height: 100%;
    margin-left: 15%;
}
h1,h3{
    color: dodgerblue;
}

img {
    display: block;
    margin-left: 18%;
    max-width: 30%;
    min-height: 30%;
}

.lista{
    display: inline;
    margin-left: 8%;
}
.descripcion{
    display: flex;
}
.datos{
    text-align: left;
}
.datos > h3{
    margin-bottom: 5px;
}
.datos > nb-card{
    margin-bottom: 0%;
}
li > p{
    font-size:medium;
}

.interna{
    list-style-type: none;
}

.usuarioDatos{
    font-size: larger;
}