<div>
  <app-carousel></app-carousel>
</div>
<nb-layout>
  <nb-layout-header>
    <div>
      <img id="reference" src="assets/catalogo.png">
    </div>
    <div class="filterItems">
      <nb-select placeholder=" -- Selecciona Una Opción -- "
        (selectedChange)="filtroTipo($event)">
        <nb-option value="Gato">Felinos</nb-option>
        <nb-option value="Perro">Caninos</nb-option>
      </nb-select>
      <nb-select placeholder=" -- Selecciona Una Opción -- "
      (selectedChange)="filtroSexo($event)">
        <nb-option value="Macho">Macho</nb-option>
        <nb-option value="Hembra">Hembra</nb-option>
      </nb-select>
    </div>
  </nb-layout-header>
  <nb-layout-column class="container">

      <nb-card *ngFor="let pet of filterData" size="small" class="pet" (click)="getDetails(pet.id,pet.data,pet.data.adoptador)">
        <nb-card-header >
          <img src="{{ pet.data.foto }}"/>
        </nb-card-header>
        <nb-card-body>
          <p class="h6">{{ pet.data.nombre }}</p>
          <p class="subtitle-2">
            {{ pet.data.genero }}, {{ pet.data.color }}, {{ pet.data.edad }}
          </p>
          <p>
            {{ pet.data.raza }} <br />
          </p>
        </nb-card-body>
      </nb-card>
    </nb-layout-column>
  </nb-layout>