@import "../../themes";

.container {
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  //grid-gap: 30px;
  justify-content: center;
}

.bar{
    min-height: 50% !important;
}

#reference{
  height: 75px;
  width: auto;
}

#texto{
  display: inline-block;
  vertical-align: center;
  font-size: 120%;
  line-height: 1.9;
}

.cardG {
  cursor: pointer;
  min-height: 1500px;
  margin: 0px;
  
}

#imgCard{
  border-radius: 25px;
  padding: 5px;
  margin: 5px;
}

.infoCard {
  cursor: pointer;
  max-width: 480px;
  min-height: 650px;
  margin: 0px;
  transition: all 400ms;
  padding: 20px;
  margin: 20px;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.15);
  }
}

.infoCard p {
  margin: 0px;
  font-size: 100%;
  font-style: italic;
}

.infoCard nb-card-header {
  padding: 0px;
  border-width: 0px;
  overflow: hidden;
  height: 50%;
}

.infoCard nb-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.infoCard img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    min-height: 100%;
}

nb-layout-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}