@import "../../themes";

.button{
    background-color: dodgerblue;
    color: white;
    border-radius: 15px;
    border: none;
    padding: 10px 24px;
    margin: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px
}

.line{
    display: inline-block;
    text-align: left;
    width: 200px;
}
