<nb-layout>
    <nb-layout-header></nb-layout-header>
    <nb-layout-column>
        <nb-card>
            <nb-card-body>
              <nb-stepper orientation="horizontal">
                <nb-step [label]="labelOne">
                  <ng-template #labelOne>Contacto</ng-template>
                  <h4>Datos de Contacto</h4>
                  <nb-card>
                    <nb-card-body class="example-items-col">
                        <div class="block">
                            <label class="line">Nombre: </label>
                            <input type="text" nbInput fullWidth placeholder="Christian Pasten" fieldSize="giant">
                        </div>
                        <br><br>
                        <div class="block">
                            <label class="line">Teléfono: </label>
                            <input type="text" nbInput fullWidth placeholder="+52 222 401 28 09" fieldSize="giant">
                        </div>
                        <br><br>
                        <div class="block">
                            <label class="line">Correo electrónico: </label>
                            <input type="text" nbInput fullWidth placeholder="example@site.com" fieldSize="giant">
                        </div>
                    </nb-card-body>
                  </nb-card>
                  <button nbButton disabled nbStepperNext class="button">REGRESAR</button>
                  <button nbButton nbStepperNext class="button">SIGUIENTE</button>
                </nb-step>
                <nb-step [label]="labelTwo">
                    <ng-template #labelTwo>Información de Mascota</ng-template>
                    <h4>Datos de la mascota</h4>
                    <nb-card>
                      <nb-card-body class="example-items-col">
                          <div class="block">
                              <label class="line">Nombre: </label>
                              <input type="text" nbInput fullWidth placeholder="Pelusa" fieldSize="giant">
                          </div>
                          <br><br>
                          <div class="block">
                              <label class="line">Edad: </label>
                              <input type="text" nbInput fullWidth placeholder="Cachorro/Joven/Adulto" fieldSize="giant">
                          </div>
                          <br><br>
                          <div class="block">
                              <label class="line">Raza: </label>
                              <input type="text" nbInput fullWidth placeholder="Border Collie" fieldSize="giant">
                          </div>
                          <br><br>
                          <div class="block">
                              <label class="line">Color: </label>
                              <input type="text" nbInput fullWidth placeholder="Gris / Café" fieldSize="giant">
                          </div>
                          <br><br>
                          <div class="block">
                                <label class="line">Género: </label>
                                <nb-select multiple placeholder="Selecciona Una Opción">
                                    <nb-option value="1">Macho</nb-option>
                                    <nb-option value="2">Hembra</nb-option>
                                </nb-select>
                          </div>
                      </nb-card-body>
                    </nb-card>
                    <button nbButton nbStepperPrevious class="button">REGRESAR</button>
                    <button nbButton nbStepperNext class="button">SIGUIENTE</button>
                  </nb-step>
                  <nb-step [label]="labelThree">
                    <ng-template #labelThree>Características</ng-template>
                    <h4>Datos Generales de la Mascota</h4>
                    <nb-card>
                      <nb-card-body class="example-items-col">
                          <div class="block">
                              <label class="line">Afectuoso: </label>
                              <nb-button-group ghost multiple>
                                <button nbButtonToggle (click)="afectoA()" [(pressed)]="arrayAfectuoso[0]"><nb-icon icon="star"></nb-icon></button>
                                <button nbButtonToggle (click)="afectoB()" [(pressed)]="arrayAfectuoso[1]"><nb-icon icon="star"></nb-icon></button>
                                <button nbButtonToggle (click)="afectoC()" [(pressed)]="arrayAfectuoso[2]"><nb-icon icon="star"></nb-icon></button>
                                <button nbButtonToggle (click)="afectoD()" [(pressed)]="arrayAfectuoso[3]"><nb-icon icon="star"></nb-icon></button>
                                <button nbButtonToggle (click)="afectoE()" [(pressed)]="arrayAfectuoso[4]"><nb-icon icon="star"></nb-icon></button>
                              </nb-button-group>
                          </div>
                          <br><br>
                          <div class="block">
                              <label class="line">Agresivo: </label>
                              <nb-button-group multiple ghost>
                                <button nbButtonToggle (click)="agresivoA()" [(pressed)]="arrayAgresivo[0]"><nb-icon icon="star"></nb-icon></button>
                                <button nbButtonToggle (click)="agresivoB()" [(pressed)]="arrayAgresivo[1]"><nb-icon icon="star"></nb-icon></button>
                                <button nbButtonToggle (click)="agresivoC()" [(pressed)]="arrayAgresivo[2]"><nb-icon icon="star"></nb-icon></button>
                                <button nbButtonToggle (click)="agresivoD()" [(pressed)]="arrayAgresivo[3]"><nb-icon icon="star"></nb-icon></button>
                                <button nbButtonToggle (click)="agresivoE()" [(pressed)]="arrayAgresivo[4]"><nb-icon icon="star"></nb-icon></button>
                              </nb-button-group>
                          </div>
                          <br><br>
                          <div class="block">
                              <label class="line">Amigable: </label>
                              <nb-button-group multiple ghost>
                                <button nbButtonToggle (click)="amigableA()" [(pressed)]="arrayAmigable[0]"><nb-icon icon="star"></nb-icon></button>
                                <button nbButtonToggle (click)="amigableB()" [(pressed)]="arrayAmigable[1]"><nb-icon icon="star"></nb-icon></button>
                                <button nbButtonToggle (click)="amigableC()" [(pressed)]="arrayAmigable[2]"><nb-icon icon="star"></nb-icon></button>
                                <button nbButtonToggle (click)="amigableD()" [(pressed)]="arrayAmigable[3]"><nb-icon icon="star"></nb-icon></button>
                                <button nbButtonToggle (click)="amigableE()" [(pressed)]="arrayAmigable[4]"><nb-icon icon="star"></nb-icon></button>
                              </nb-button-group>
                          </div>
                          <br><br>
                          <div class="block">
                              <label class="line">Energético: </label>
                              <nb-button-group multiple ghost>
                                <button nbButtonToggle (click)="energA()" [(pressed)]="arrayEnergetico[0]"><nb-icon icon="star"></nb-icon></button>
                                <button nbButtonToggle (click)="energB()" [(pressed)]="arrayEnergetico[1]"><nb-icon icon="star"></nb-icon></button>
                                <button nbButtonToggle (click)="energC()" [(pressed)]="arrayEnergetico[2]"><nb-icon icon="star"></nb-icon></button>
                                <button nbButtonToggle (click)="energD()" [(pressed)]="arrayEnergetico[3]"><nb-icon icon="star"></nb-icon></button>
                                <button nbButtonToggle (click)="energE()" [(pressed)]="arrayEnergetico[4]"><nb-icon icon="star"></nb-icon></button>
                              </nb-button-group>
                          </div>
                          <br><br>
                          <div class="block">
                                <label class="line">Juguetón: </label>
                                <nb-button-group multiple ghost>
                                    <button nbButtonToggle (click)="jugueA()" [(pressed)]="arrayJugueton[0]"><nb-icon icon="star"></nb-icon></button>
                                    <button nbButtonToggle (click)="jugueB()" [(pressed)]="arrayJugueton[1]"><nb-icon icon="star"></nb-icon></button>
                                    <button nbButtonToggle (click)="jugueC()" [(pressed)]="arrayJugueton[2]"><nb-icon icon="star"></nb-icon></button>
                                    <button nbButtonToggle (click)="jugueD()" [(pressed)]="arrayJugueton[3]"><nb-icon icon="star"></nb-icon></button>
                                    <button nbButtonToggle (click)="jugueE()" [(pressed)]="arrayJugueton[4]"><nb-icon icon="star"></nb-icon></button>
                                  </nb-button-group>
                          </div>
                      </nb-card-body>
                    </nb-card>
                    <button nbButton nbStepperPrevious class="button">REGRESAR</button>
                    <button nbButton nbStepperNext class="button">FINALIZAR</button>
                  </nb-step>
              </nb-stepper>
            </nb-card-body>
          </nb-card>
    </nb-layout-column>
</nb-layout>