<nb-layout>
  <nb-layout-header></nb-layout-header>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        <nb-stepper #stepper>
          <nb-step [stepControl]="contactForm" label="Contacto">
            <h4>Datos de Contacto</h4>
            <nb-card>
              <nb-card-body>
                <form [formGroup]="contactForm" (ngSubmit)="onContactSubmit('warning','top-left', true, true)">
                  <div class="block">
                    <label class="line">Nombre: </label>
                    <input type="text" nbInput 
                      placeholder="Christian Pasten"
                      fieldSize="medium"
                      formControlName="nombre">
                  </div>
                  <br><br>
                  <div class="block">
                    <label class="line">Teléfono: </label>
                    <input type="text" nbInput 
                      placeholder="222 401 28 09"
                      fieldSize="medium"
                      formControlName="telefono">
                  </div>
                  <br><br>
                  <div class="block">
                    <label class="line">Correo electrónico: </label>
                    <input type="text" nbInput 
                      placeholder="example@site.com" 
                      fieldSize="medium"
                      formControlName="correo">
                  </div>
                  <br><br>
                  <button nbButton disabled nbStepperPrevious shape="semi-round" status="info">REGRESAR</button>
                  <button nbButton nbStepperNext shape="semi-round" status="info">SIGUIENTE</button>
                </form>  
              </nb-card-body>
            </nb-card>
          </nb-step>
          <nb-step [stepControl]="infoForm" label="Información">
            <h4>Información de Mascota</h4>
            <nb-card>
              <nb-card-body>
                <form [formGroup]="infoForm" (ngSubmit)="onInfoSubmit('warning','top-left', true, true)">
                  <div id="infoItems">
                    <label class="line">Especie: </label>
                    <nb-select placeholder=" -- Selecciona Una Opción -- "
                      formControlName="tipo">
                      <nb-option value="Gato">Felino</nb-option>
                      <nb-option value="Perro">Canino</nb-option>
                      <nb-option value="Otro">Otro</nb-option>
                    </nb-select>
                    <br><br>
                    <label class="line">Nombre: </label>
                    <input type="text" nbInput 
                      placeholder="Pelusa" 
                      fieldSize="medium"
                      formControlName="nombre">
                    <br><br>
                    <label class="line">Edad: </label>
                    <nb-select placeholder=" -- Selecciona Una Opción -- "
                      formControlName="edad">
                      <nb-option value="Cachorro">Cachorro</nb-option>
                      <nb-option value="Joven">Jóven</nb-option>
                      <nb-option value="Adulto">Adulto</nb-option>
                    </nb-select>
                    <br><br>
                    <label class="line">Raza: </label>
                    <input type="text" nbInput
                      placeholder="Border Collie"
                      fieldSize="medium"
                      formControlName="raza">
                    <br><br>
                    <label class="line">Color: </label>
                    <input type="text" nbInput
                      fieldSize="medium"
                      placeholder="Gris / Café" 
                      formControlName="color">
                    <br><br>
                    <label class="line">Género: </label>
                    <nb-select placeholder=" -- Selecciona Una Opción -- "
                      formControlName="genero">
                      <nb-option value="Macho">Macho</nb-option>
                      <nb-option value="Hembra">Hembra</nb-option>
                    </nb-select>
                  </div>
                  <div class="block" id="inputImg">
                    <img [src]="url"> <br/>
                    <input type='file' name="file" id="file" class="inputfile" (change)="onSelectFile($event)">
                    <label for="file" class="button"><nb-icon icon="arrow-circle-up-outline"></nb-icon>Selecciona una Imagen</label>
                  </div>
                  <br><br>
                  <button nbButton nbStepperPrevious shape="semi-round" status="info">REGRESAR</button>
                  <button nbButton nbStepperNext shape="semi-round" status="info">SIGUIENTE</button>
                </form>
              </nb-card-body>
            </nb-card>
          </nb-step>
          <nb-step label="Generales">
            <h4>Datos Generales de la Mascota</h4>
            <nb-card>
              <nb-card-body class="example-items-col">
                <div class="block">
                  <label class="line">Afectuoso: </label>
                  <nb-button-group ghost multiple>
                    <button nbButtonToggle (click)="afectoA()" [(pressed)]="arrayAfectuoso[0]"><nb-icon icon="star"></nb-icon></button>
                    <button nbButtonToggle (click)="afectoB()" [(pressed)]="arrayAfectuoso[1]"><nb-icon icon="star"></nb-icon></button>
                    <button nbButtonToggle (click)="afectoC()" [(pressed)]="arrayAfectuoso[2]"><nb-icon icon="star"></nb-icon></button>
                    <button nbButtonToggle (click)="afectoD()" [(pressed)]="arrayAfectuoso[3]"><nb-icon icon="star"></nb-icon></button>
                    <button nbButtonToggle (click)="afectoE()" [(pressed)]="arrayAfectuoso[4]"><nb-icon icon="star"></nb-icon></button>
                  </nb-button-group>
                </div>
                <br>
                <div class="block">
                  <label class="line">Agresivo: </label>
                  <nb-button-group multiple ghost>
                    <button nbButtonToggle (click)="agresivoA()" [(pressed)]="arrayAgresivo[0]"><nb-icon icon="star"></nb-icon></button>
                    <button nbButtonToggle (click)="agresivoB()" [(pressed)]="arrayAgresivo[1]"><nb-icon icon="star"></nb-icon></button>
                    <button nbButtonToggle (click)="agresivoC()" [(pressed)]="arrayAgresivo[2]"><nb-icon icon="star"></nb-icon></button>
                    <button nbButtonToggle (click)="agresivoD()" [(pressed)]="arrayAgresivo[3]"><nb-icon icon="star"></nb-icon></button>
                    <button nbButtonToggle (click)="agresivoE()" [(pressed)]="arrayAgresivo[4]"><nb-icon icon="star"></nb-icon></button>
                  </nb-button-group>
                </div>
                <br>
                <div class="block">
                  <label class="line">Amigable: </label>
                  <nb-button-group multiple ghost>
                    <button nbButtonToggle (click)="amigableA()" [(pressed)]="arrayAmigable[0]"><nb-icon icon="star"></nb-icon></button>
                    <button nbButtonToggle (click)="amigableB()" [(pressed)]="arrayAmigable[1]"><nb-icon icon="star"></nb-icon></button>
                    <button nbButtonToggle (click)="amigableC()" [(pressed)]="arrayAmigable[2]"><nb-icon icon="star"></nb-icon></button>
                    <button nbButtonToggle (click)="amigableD()" [(pressed)]="arrayAmigable[3]"><nb-icon icon="star"></nb-icon></button>
                    <button nbButtonToggle (click)="amigableE()" [(pressed)]="arrayAmigable[4]"><nb-icon icon="star"></nb-icon></button>
                  </nb-button-group>
                </div>
                <br>
                <div class="block">
                  <label class="line">Energético: </label>
                  <nb-button-group multiple ghost>
                    <button nbButtonToggle (click)="energA()" [(pressed)]="arrayEnergetico[0]"><nb-icon icon="star"></nb-icon></button>
                    <button nbButtonToggle (click)="energB()" [(pressed)]="arrayEnergetico[1]"><nb-icon icon="star"></nb-icon></button>
                    <button nbButtonToggle (click)="energC()" [(pressed)]="arrayEnergetico[2]"><nb-icon icon="star"></nb-icon></button>
                    <button nbButtonToggle (click)="energD()" [(pressed)]="arrayEnergetico[3]"><nb-icon icon="star"></nb-icon></button>
                    <button nbButtonToggle (click)="energE()" [(pressed)]="arrayEnergetico[4]"><nb-icon icon="star"></nb-icon></button>
                  </nb-button-group>
                </div>
                <br>
                <div class="block">
                  <label class="line">Juguetón: </label>
                  <nb-button-group multiple ghost>
                    <button nbButtonToggle (click)="jugueA()" [(pressed)]="arrayJugueton[0]"><nb-icon icon="star"></nb-icon></button>
                    <button nbButtonToggle (click)="jugueB()" [(pressed)]="arrayJugueton[1]"><nb-icon icon="star"></nb-icon></button>
                    <button nbButtonToggle (click)="jugueC()" [(pressed)]="arrayJugueton[2]"><nb-icon icon="star"></nb-icon></button>
                    <button nbButtonToggle (click)="jugueD()" [(pressed)]="arrayJugueton[3]"><nb-icon icon="star"></nb-icon></button>
                    <button nbButtonToggle (click)="jugueE()" [(pressed)]="arrayJugueton[4]"><nb-icon icon="star"></nb-icon></button>
                  </nb-button-group>
                </div>
              </nb-card-body>
            </nb-card>
            <button nbButton nbStepperPrevious shape="semi-round" status="info">REGRESAR</button>
            <button nbButton nbStepperNext (click)="sendData()" shape="semi-round" status="info">FINALIZAR</button>
          </nb-step>
        </nb-stepper>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>