nb-card {
    border: 0px;
    border-radius: 18px;
    overflow: hidden;
}

nb-card-body {
    padding: 0;
    width: 993px;
    height: 650px;
    display: grid;
    grid-template-columns: 322px auto;
}

.datos{
    padding-left: 10px;
    margin-left: 10px;
}

img{
    float: right;
    width: 540px;
    height: 650px;
}

p strong {
    color:dodgerblue;
}

#features{
    display: inline-block;
}
.line{
    display: inline-block;
    text-align: left;
    width: 200px;
}
#save{
    background-color: dodgerblue;
    color: white;
    border-radius: 15px;
    border: none;
    padding: 10px 24px;
    margin: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px
}