<nb-card>
    <nb-card-body >
      <div>
      <!--<div class="block" id="inputImg"> -->
        <!-- 
        <img [src]="url"> <br/>
        <input type='file' name="file" id="file" class="inputfile" (change)="onSelectFile($event)">
        <label for="file" class="button"><nb-icon icon="arrow-circle-up-outline"></nb-icon>Selecciona una Imagen</label>
        -->
        <img [src]="petData.foto">
      </div>
      <div class='right'>
        <h3>{{ petData.nombre }}</h3>
        <label class="line">Afectuoso: </label>
        <nb-button-group ghost multiple>
          <button nbButtonToggle (click)="afectoA()" [(pressed)]="arrayAfectuoso[0]"><nb-icon icon="star"></nb-icon></button>
          <button nbButtonToggle (click)="afectoB()" [(pressed)]="arrayAfectuoso[1]"><nb-icon icon="star"></nb-icon></button>
          <button nbButtonToggle (click)="afectoC()" [(pressed)]="arrayAfectuoso[2]"><nb-icon icon="star"></nb-icon></button>            <button nbButtonToggle (click)="afectoD()" [(pressed)]="arrayAfectuoso[3]"><nb-icon icon="star"></nb-icon></button>
          <button nbButtonToggle (click)="afectoE()" [(pressed)]="arrayAfectuoso[4]"><nb-icon icon="star"></nb-icon></button>
        </nb-button-group>
        <br>
        <label class="line">Agresivo: </label>
        <nb-button-group multiple ghost>
          <button nbButtonToggle (click)="agresivoA()" [(pressed)]="arrayAgresivo[0]"><nb-icon icon="star"></nb-icon></button>
          <button nbButtonToggle (click)="agresivoB()" [(pressed)]="arrayAgresivo[1]"><nb-icon icon="star"></nb-icon></button>
          <button nbButtonToggle (click)="agresivoC()" [(pressed)]="arrayAgresivo[2]"><nb-icon icon="star"></nb-icon></button>
          <button nbButtonToggle (click)="agresivoD()" [(pressed)]="arrayAgresivo[3]"><nb-icon icon="star"></nb-icon></button>
          <button nbButtonToggle (click)="agresivoE()" [(pressed)]="arrayAgresivo[4]"><nb-icon icon="star"></nb-icon></button>
        </nb-button-group>
        <br>
        <label class="line">Amigable: </label>
        <nb-button-group multiple ghost>
          <button nbButtonToggle (click)="amigableA()" [(pressed)]="arrayAmigable[0]"><nb-icon icon="star"></nb-icon></button>
          <button nbButtonToggle (click)="amigableB()" [(pressed)]="arrayAmigable[1]"><nb-icon icon="star"></nb-icon></button>
          <button nbButtonToggle (click)="amigableC()" [(pressed)]="arrayAmigable[2]"><nb-icon icon="star"></nb-icon></button>
          <button nbButtonToggle (click)="amigableD()" [(pressed)]="arrayAmigable[3]"><nb-icon icon="star"></nb-icon></button>
          <button nbButtonToggle (click)="amigableE()" [(pressed)]="arrayAmigable[4]"><nb-icon icon="star"></nb-icon></button>
        </nb-button-group>
        <br>
        <label class="line">Energético: </label>
        <nb-button-group multiple ghost>
          <button nbButtonToggle (click)="energA()" [(pressed)]="arrayEnergetico[0]"><nb-icon icon="star"></nb-icon></button>
          <button nbButtonToggle (click)="energB()" [(pressed)]="arrayEnergetico[1]"><nb-icon icon="star"></nb-icon></button>
          <button nbButtonToggle (click)="energC()" [(pressed)]="arrayEnergetico[2]"><nb-icon icon="star"></nb-icon></button>
          <button nbButtonToggle (click)="energD()" [(pressed)]="arrayEnergetico[3]"><nb-icon icon="star"></nb-icon></button>
          <button nbButtonToggle (click)="energE()" [(pressed)]="arrayEnergetico[4]"><nb-icon icon="star"></nb-icon></button>
        </nb-button-group>
        <br>
        <label class="line">Juguetón: </label>
        <nb-button-group multiple ghost>
          <button nbButtonToggle (click)="jugueA()" [(pressed)]="arrayJugueton[0]"><nb-icon icon="star"></nb-icon></button>
          <button nbButtonToggle (click)="jugueB()" [(pressed)]="arrayJugueton[1]"><nb-icon icon="star"></nb-icon></button>
          <button nbButtonToggle (click)="jugueC()" [(pressed)]="arrayJugueton[2]"><nb-icon icon="star"></nb-icon></button>
          <button nbButtonToggle (click)="jugueD()" [(pressed)]="arrayJugueton[3]"><nb-icon icon="star"></nb-icon></button>
          <button nbButtonToggle (click)="jugueE()" [(pressed)]="arrayJugueton[4]"><nb-icon icon="star"></nb-icon></button>
        </nb-button-group>
        <br><br>
        <form [formGroup]="infoForm">
          <label class="line">Edad: </label>
          <nb-select placeholder="{{petData.edad}}"
            formControlName="edad">
            <nb-option value="Cachorro">Cachorro</nb-option>
            <nb-option value="Joven">Jóven</nb-option>
            <nb-option value="Adulto">Adulto</nb-option>
          </nb-select>
          <br><br>
          <label class="line">Raza: </label>
          <input type="text" nbInput
            placeholder="{{petData.raza}}"
            formControlName="raza"> 
          </form>
          <br>
          <form [formGroup]="contacto">
          <label class="line">Teléfono: </label>
          <input type="text" nbInput
            placeholder="{{userData.telefono}}"
            formControlName="telefono">
          <br>
        </form>
        <br><br><br>
        <div id='btn'>
          <button nbButton
            status="info" 
            shape="semi-round"
            id="save" 
            (click)="actualizar()">
            <nb-icon icon="save">
            </nb-icon>
            Guardar
          </button>
      </div>
      </div>           
  </nb-card-body>
</nb-card>
