<div id="container">
    <br><br><br><br>
    <div class='row'>
        <div class='column left'>
            <img id='logo' src='assets/logoFooter.png'>
        </div>
        <div class='column middle'>
            <a href="/">Inicio</a>
            <a href="/">Adopta</a>
            <a href="/info">Información</a>
            <a href="/daenadopcion">Da en Adopción</a>
        </div>
        <div id='icons' class='column right'>
            <a href='https://github.com/ChristianPastenC/petsApp'><nb-icon class='icon' icon="github-outline" status="control"></nb-icon></a>
            <a href='mailto:marifer.zamorita@gmail.com'><nb-icon class='icon' icon="email-outline" status="control"></nb-icon></a>
            <a href='mailto:spacejambox1234@gmail.com'><nb-icon class='icon' icon="email-outline" status="control"></nb-icon></a>
            <a href='mailto:sara011.svz@gmail.com'><nb-icon class='icon' icon="email-outline" status="control"></nb-icon></a>
            <a href='mailto:dannpm93@gmail.com'><nb-icon class='icon' icon="email-outline" status="control"></nb-icon></a>
            <a href='mailto:pastencristian2@gmail.com'><nb-icon class='icon' icon="email-outline" status="control"></nb-icon></a>
        </div>
    </div>
    <br><br>
    <div id='copy'>
        <small>&copy; Copyright {{myDate}}, Buscando Un Hogar</small>
    </div>
</div>