.container {
  display: block;
  height: 500px;
  width: 500px;
  padding: 2em;
}

#reference{
  height: 75px;
  width: auto;
}

img{
  display: inline;
}

.filterItems{
  float: right;
  vertical-align: -50px;
}

